/node_modules
/public/mix-manifest.json
/public/*
!/public/css/anychart-ui.min.css
#!/public/css/app2.css
#!/public/js/app2.js
/documents
/storage/*.key
/vendor
/public/images/companylogos
.todo
.tmp
.env
.env.backup
.phpunit.result.cache
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
debug.log
composer.lock
debug.log
*~
#*#