#app {
  padding-bottom: 75px;
	#main-table_paginate > ul > li > a {
		border: 1px solid #dee2e6;
	}
	#main-table {
		max-width: 100%;
		input[type="text"] {
			width: 100%;
		}
	}
	.individual-search {
		max-width: 30vw;
	}
	.ui-datepicker-trigger img {
		height: 20px;
	}
}
.cursor {
	cursor: pointer;
}

/* TABLE */
.dt-grey {
	background-color: #604a7b33;
}

.dt-red {
	background-color: #ff000033;
}

.dt-blue {
	background-color: #4bacc633;
}

.dt-green {
	background-color: #00b05033;
}

.dt-black {
	background-color: #2223;
}


/* GRAPHS */

.axis path,
.axis line {
  fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.line{
  fill: none;
  stroke: #000;
}