<div id="498">
  <div class="container text-center">
    <h1>Désolé, le lien a expiré, ou<br/><span class="mobile-spacer">&nbsp;</span>a déjà été utilisé.</h1>
    <hr/>
    <div class="help">
      <p>Besoin d'aide pour accéder à votre compte ?<br/><span class="mobile-spacer">&nbsp;</span> Veuillez <a href="/contact">contacter le support</a> ou demander une nouvelle <a href="/password/forgot">réinitialisation de mot de passe.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="/password/forgot">Réinitialiser mon mot de passe</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
