<div id="welcome">
  <div class="container">
    <h1>Tableau de logs</h1>
    <hr/>    
  </div>
  <table id="main-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>cardId</th>
                <th>msgId</th>
                <th>msg</th>
                <th>eventType</th>
                <!--<th>options</th>-->
                <th>created_at</th>
                <th>updated_at</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>cardId</th>
                <th>msgId</th>
                <th>msg</th>
                <th>eventType</th>
                <!--<th>options</th>-->
                <th>created_at</th>
                <th>updated_at</th>
            </tr>
        </tfoot>
</table>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
