<div id="welcome">
  <div class="container">
    <h1>Tableau de logs</h1>
    <hr/>
    <div id="main-table"></div>
    
  </div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
