<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Créer un compte collaborateur</h1>
    <div class="signup-form">
      <p class="text-center">Veuillez remplir ces champs. Le nouvel utilisateur aura accès avec ses propres login/mot de passe aux logs PASDT. Tous les champs s'addressent au COLLABORATEUR, et non pas vos informations. Vous pouvez créer autant de comptes collaborateurs que vous aurez besoin. Pour retirer l'accès à un compte utilisateur veuillez <a href="/support">contacter le support</a>.</p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nom complet</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Veuillez entrer le nom complet du collaborateur.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Adresse mail</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Veuillez entrer une adresse email correcte.</div>
        </div>
        <div class="form-group">
          <label for="password">Choisissez un mot de passe (il pourra le changer plus tard)</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Veuillez entrer un mot de passe.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmez le mot passe</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Les deux mots de passe sont différents.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">J'ai lu &amp; et accepte les <a target="_blank" href="/terms">termes de service</a>.</label>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Il y a déjà un compte avec cette adresse email. Si vous avez oublié son mot de passe, vous pouvez le récupérer en cliquant <a href="password/forgot">here</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Une erreur est apparue en envoyant votre requête. Veuillez vérifier vos informations et réessayer, ou <a href="/support">contacter le support</a> si l'erreur persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Créer le compte collaborateur</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">Vérifiez la boite email fournie!</h1>
    <div class="success-message">
      <hr/>
      <p>Le compte est déjà opérationnel. Tout ce que votre collaborateur a à faire est de cliquer sur le lien donné à cette adresse: <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(La connexion est déjà possible mais certaines fonctionnalités demandent une validation d'email.)</p>
      <p><a class="btn btn-outline-info" href="/">Go to dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
