<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="container">
    <br />
    <!-- <h1>Consultation des historiques de relevés issus de modules de sécurité PASDT autonomes</h1>-->
    <br />
    <div class="row">
    <div class="offset-md-4 col-4">
      <img class="logo mx-auto d-block" alt="NEW_APP_NAME logo" src="/images/pasdt.png"/>
    </div>
    </div>
    <h3>Pour consulter ces données, veuillez vous identifier</h3>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
